body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    color: #0d0287;
    position: relative;
    background: radial-gradient(12px, currentColor 90%, transparent);
    filter: drop-shadow(0 0 6px rgba(7, 4, 38, 0.5));
  }
  
  .loader:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(10px at bottom right, transparent 90%, currentColor) top left,
                radial-gradient(10px at bottom left, transparent 90%, currentColor) top right,
                radial-gradient(10px at top right, transparent 90%, currentColor) bottom left,
                radial-gradient(10px at top left, transparent 90%, currentColor) bottom right;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    animation: loader 1.5s infinite cubic-bezier(0.4, 0.6, 0.2, 1);
    filter: drop-shadow(0 0 8px #0d0287);
  }
  
  @keyframes loader {
    0%, 100% {
      inset: 0;
      transform: rotate(0deg);
    }
    50% {
      inset: -12px;
      transform: rotate(180deg);
    }
  }
  